<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840950214142-oukbmg8a8guf8rq1jguovl6i80ttconm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840950214142-oukbmg8a8guf8rq1jguovl6i80ttconm</string>
	<key>API_KEY</key>
	<string>AIzaSyB59Y4tEn9hRnfSjkKLbaehOdSWn8L9BO8</string>
	<key>GCM_SENDER_ID</key>
	<string>840950214142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reminderApp</string>
	<key>PROJECT_ID</key>
	<string>reminder-app-247d2</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-app-247d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840950214142:ios:2bca1745fad004ee3824af</string>
</dict>
</plist>